.container {
  border: 2px solid black;
  .img {
    height: 350px;
    background-image: url(/images/photos/model.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  h5 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 12px;
    line-height: 1;
    word-spacing: 0.1;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  p {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    margin-left: 20px;
    margin-right: 20px;
  }

  a {
    margin-left: 20px;
    margin-right: 20px;
  }
}

// <div className={classes.container}>
// <div className={classes.img}></div>
// <h5>11 December 2021</h5>
// <h3>Photo model</h3>
// <p>
//   Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ea
//   necessitatibus itaque consequuntur dicta dignissimos libero modi quod
//   vero nisi.
// </p>
// <ReadMore></ReadMore>
// </div>
