.container {
  flex-basis: 350px;
  align-self: flex-start;
  position: sticky;
  top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media only screen and (max-width: 1200px) {
    flex-basis: 250px;
  }

  @media only screen and (max-width: 768px) {
    position: initial;
  }
}
