.container {
  padding: 300px 150px 70px;
  margin: 0 0 100pxs;
  background-color: black;

  h2 {
    font-size: 46px;
    line-height: 1.2;
    font-weight: 400;
    color: #fff;
    margin-bottom: 40px;
    max-width: 500px;
  }

  p {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    color: #fff;
    max-width: 500px;
  }
}
