.container {
  background-color: #000;
  border: 1px solid #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 50px;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1) !important;
    z-index: 10 !important;
  }

  .info {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    h6 {
      color: orange;

      &.JavaScript {
        color: #f0a500;
      }

      &.CSS {
        color: #e45826;
      }
      &.React {
        color: #8fbdd3;
      }
      &.HTML {
        color: #a0d995;
      }
    }
    h5 {
      opacity: 0.5;
      font-size: 11px;
      font-weight: 300;
    }
  }
  h3 {
    text-align: center;
    font-weight: 300;
  }
}
