.container {
  margin: 40px 20px;

  h4 {
    font-size: 40px;
    line-height: 1.8;
    font-weight: 500;
    margin: 0px 55px 20px;
  }

  p {
    font-size: 19px;
    line-height: 1.8;
    font-weight: 400;
    margin: 0px 55px 20px;
  }

  .img {
    margin: 20px 0;
    height: 320px;
    background-size: cover;
    background-image: url(/images/photos/model.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }

  h5 {
    font-size: 32px;
    line-height: 1.8;
    font-weight: 500;
    margin: 40px 55px 20px;
  }
}

// <div className={classes.container}>
//       <h4>First Stage</h4>
//       <p>
//         Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
//         quibusdam, optio sed excepturi sit cum aut veniam cumque, laboriosam
//         aliquam cupiditate repudiandae. Ex sapiente rerum dolore minima fugit.
//         Odit ipsa a rem aspernatur maiores minus, omnis commodi? Laudantium,
//         fugit, illo quisquam corrupti quas eveniet, possimus impedit velit
//         suscipit nisi ea!
//       </p>
//       <div className={classes.img}></div>
//       <h5>Final paragraph</h5>
//       <p>
//         Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab nam
//         nesciunt, laboriosam nostrum autem officia magnam nemo id perferendis
//         odio doloremque. Temporibus amet minus explicabo, unde consectetur totam
//         molestiae. Assumenda?
//       </p>
//     </div>
