.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  .links {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      display: flex;
      gap: 20px;
      list-style: none;
    }
  }
  .text {
    flex: 50%;
    padding: 100px 60px;
    h4 {
      font-size: 16px;
      line-height: 1.4;
      font-weight: 400;
    }

    h2 {
      font-size: 40px;
      line-height: 1;
      font-weight: 500;
      margin: 20px 0 35px;
    }

    p {
      font-size: 16px;
      line-height: 1.4;
      font-weight: 400;
    }
  }

  @media only screen and (max-width: 650px) {
    flex-direction: column;
    .text {
      padding: 0;
      margin: 50px 0 50px;
    }
  }
}
